#list2 {
	color: red;
}
.class2 {
	background-color: green;
}

tr:nth-child(even) {
	background-color: yellow;
}

/** Insert your code here **/

/*********** READ ONLY BLOCK ******
You CAN NOT UPDATE anything from here on,
only add lines of code on top of this lines
**/

body {
	color: blue;
}

ul li,
ol li {
	color: green;
}
