/* add your styles here */
body {
	background-image: url("../../.learn/assets/background-vertical.jpg?raw=true");
	background-attachment: fixed;
	background-repeat: repeat-y;
}

h1 {
	font-family: courier;
	color: red;
}

h2,
p,
ol {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 {
	text-decoration: underline;
}
